/*
	会员中心开始
*/
.mem-position{
	position:fixed;
	top:0;
}

.jm-mem {
	margin-top:10px;
}

.jm-mem-left {
	float: left;
	width: 170px;
	min-height: 650px;
	background-color: #f9f9f9;
	border: 1px solid #dedede;
}

.mem-title {
	padding: 10px;
	font-size: 20px;
}

.mem-left-header {
	padding: 13px 25px;
}

.mem-left-header p {
	margin-top: 5px;
	font-family: "open sans";
	text-align: center;
}

.menu_list {
	width: 169px;
}

.menu_head {
	height: 47px;
	line-height: 47px;
	padding-left: 15px;
	font-size: 14px;
	color: #525252;
	cursor: pointer;
	position: relative;
	margin: 0;
	font-weight: bold;
	background: #f1f1f1 url("../images/pro_left.png") center right no-repeat;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #eee;
	border-right: 1px solid #ddd;
}

.menu_list .current {
	background: #f1f1f1 url("../images/pro_down.png") center right no-repeat;
}

.menu_body {
	line-height: 38px;
	background: #fff;
}

.menu_body a {
	display: block;
	height: 38px;
	line-height: 38px;
	padding-left: 38px;
	color: #323232;
	background: #fff;
	text-decoration: none;
	border-bottom: 1px solid #e1e1e1;
	border-right: 1px solid #ddd;
	cursor: pointer;
}

.menu_body a:hover {
	background-color: #7895f4;
	color: #fff;
}

.jm-mem-right {
	width: 976px;
	background: none repeat scroll 0 0 #fff;
	float: right;
}

.jm_mem_right_box {
	padding-left: 20px;
}

.jm_men_right_title {
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
	font-weight: 500;
	font-size: 18px;
	color: #454545;
}

.mem_me_box {
	border: 1px solid #ddd;
	margin-top: 10px;
}

.mem_me_box h3 {
	padding: 15px 20px;
	font-weight: normal;
	border-bottom: 1px dashed #ddd;
	font-size: 22px;
	color: #454545;
}

.mem_me_box h3 span.authentication
{
	margin-left: 30px;
	padding: 10px 25px;
	font-weight: normal;
	font-size: 13px;
	background: #fff url("../images/mem_icon.png") center left no-repeat;
	vertical-align: 10%;
}

.mem_me_box ul li span {
	vertical-align: bottom;
	margin-left: 10px;
	float: left;
}

.mem_me_box ul li label {
	vertical-align: bottom;
	float: left;
	width: 80px;
	text-align: right;
}

.mem_me_box ul li {
	padding: 5px 20px;
	font-size: 14px;
	color: #666;
	overflow: hidden;
	float: left;
	width: 310px;
}

.mem_me_box ul {
	padding: 15px 0 20px 0;
	overflow:hidden;
}

.mem_center_box {
	border: 1px solid #ddd;
	margin-top: 10px;
}

.mem_center_title_box h3 {
	padding: 10px;
	font-size: 16px;
	color: #666;
	font-weight: 500;
	float: left;
	margin-bottom:0;
}

.mem_center_title_box span {
	float: right;
	font-size: 12px;
	line-height: 44px;
	cursor: pointer;
	padding-right: 20px;
	color: #666;
}

.mem_center_title_box {
	overflow: hidden;
	background-color: #EAF0F9;
	border-bottom: 1px solid #ddd;
}

.mem_change_company {
	text-align: right;
	padding: 5px 0;
	font-size: 14px;
	text-decoration: underline;
	cursor: pointer;
}

.change_button {

}

.change_button button {
	padding: 5px 15px;
	background-color: #F60;
	color: #fff;
}

.change_button button:hover {
	background-color: #E35B00;
}

.mem_nav_active {
	background-color: #7895f4 !important;
	color: #fff !important;
}

.mem_search_order_box li {
	float: left;
	margin: 5px 20px 5px 0;
}

.mem_search_order_box ul {
	padding: 5px 0 10px 10px;
	overflow: hidden;
}

.mem_search_order_box ul li input {
	height: 30px;
	line-height: 30px;
	border: 1px solid #ddd;
	padding-left: 10px;
	font-size: 14px;
	float: left;
	width: 160px;
}

.mem_search_order_box ul li label {
	height: 30px;
	line-height: 30px;
	text-align: left;
	width: 65px;
	float: left;
	font-size: 14px;
}

.mem_search_order_box ul li button {
	height: 30px;
	padding: 5px 15px;
	color: #fff;
	background-color: #F60;
}

.mem_search_order_box ul li button:hover {
	background-color: #E35B00;
}

#order_model dl dd {
	float: left;
	margin-right: 28px;
	margin-bottom: 20px;
}

#order_model dl dd label {
	float: left;
	width: 80px;
	line-height: 31px;
}

#order_model dl dd input {
	float: left;
	width: 150px;
	height: 25px;
}

#order_model dl dd textarea {
	float: left;
	width: 415px;
	height: 100px;
}

#order_model dl {
	overflow: hidden;
	width: 1040px;
	margin: auto;
	padding: 20px 10px;
}
.breadcrumb.mem-breadcrumb{
	border-bottom:1px solid #ddd;
	background-position: left 21%;
	padding-bottom:10px;
}
.pending{
	width: 105px;
	height: 90px;
	text-align: center;
	padding: 15px;
	background-color:#18c1ff;
	color:#fff
}

.pending-box{
	margin:30px 20px;
	overflow:hidden;
	float:left
}

.pending-right{
	position: relative;
	border:1px solid #ddd;
	width:150px;
	height:90px;
	border-left:0
}

.pending-title{
	font-size: 15px;
	padding-top: 15px;
	padding-left: 15px;
	color: #858585;
}

.pending-num{
	font-size: 33px;
	padding: 15px;
	color: #4c4c4c;
}

.pending-right i{
	color:#ddd;
	position: absolute;
	top: 50%;
	right: 20px;
	width: 13px;
	height: 26px;
	margin-top: -13px;
}

.pending-box:hover{
	-webkit-box-shadow:0 0 5px #aaa;
    -moz-box-shadow:0 0 5px #aaa;
    box-shadow:0 0 5px #aaa;
}

.pending-box:hover .pending-right i{
	color:#666
}
/*
	会员中心结束
*/
/*
	我的订单开始
*/

.order.table{
	 border: 0px;
	 font-size: 13px;
	 //border-collapse: collapse;
}

.order.table thead tr th{
	background-color:#7895f4;
	color:#fff;
	border-left: none;
}
.order.table tbody tr{
	cursor:pointer;
	border:1px solid #ddd;
}
.order.table tbody tr td{
	border-bottom:  1px solid rgba(34, 36, 38, 0.1);

}
.order.table tbody tr td>div{
	padding: 3px 0;
}
.order.table tbody tr td:first-child{
	border-left:  1px solid rgba(34, 36, 38, 0.1) !important;
}
.order.table tbody tr td:last-child{
	border-right:  1px solid rgba(34, 36, 38, 0.1) !important;
}

.order.table tbody tr .pol i{
	padding:1px 2px;
	background-color:#f60;
	color:#fff;
}
.order.table tbody tr .pod i{
		padding:1px 2px;
		background-color:#7895f4;
		color:#fff;
}
.order.table tbody tr.second-row a{
	color:#323232
}
.order.table tbody tr.second-row a:hover{
		color:#f60
}
.order.table tbody tr.first-row{
	height: 8px;
}
.order.table tbody tr.first-title{
	background: #f9f9f9;

}
.order.table tbody tr.first-title td{
		border-bottom:0;
		border-left:0;
		padding:5px 11px;
		font-size: 13px;
}

/*
	我的订单结束
*/
/*
	修改密码开始
*/
.change-box{
	border:1px solid #ddd;
	border-bottom:1px solide #323232;
	padding:10px 20px;
	overflow:hidden;
	margin-bottom:10px;
}
.change-box i{
	color:#f60;
}
.change-box span{
	vertical-align: middle;
	line-height:100px;
}
.change-box span.change-box-title{
	font-size:16px;
	font-weight: 600;
}
.change-button{
	text-decoration: underline;
	color:#f60;
	cursor:pointer;
}
.change-open-box span{
	line-height:39px;
}
/*
	修改密码结束
*/
/*
	货物跟踪开始
*/
.track-table{
	width:500px;
	margin:auto;
	margin-top:30px;
	margin-bottom:50px;
	text-align:center;
	
	.left{
		position:relative;
		width:50px;
		vertical-align: top;
	
		.img{
			
			background: #fff url("../../public/images/nodeImg.png") no-repeat top center;
			z-index: 1;
			width:30px;
			height:15px;
			
			&.topImg{
				background: #fff  url("../../public/images/nodeTop.png") no-repeat top center;
				height:20px;
			}
			
			&.bottomImg{
				background: #fff  url("../../public/images/nodeBottom.png") no-repeat top center;
			}
		}
		.line{
			position:absolute;
			left: 8px;
			width: 0.57em;
			border-right: 0.08em solid #d2d2d2;
			height:100%;
			top:0;
			z-index: -1;
		}
	}
	.main{
		padding:0 0 10px 0;
	
		.top{
			overflow:hidden;
			
				.title{
					float:left;
					font-size:14px;
				}
				
				span.time{
					float:right;
					font-size:12px;
					color: #666;
				}
		}
	
		.marks{
			margin:8px 0;
			color: #666;
			font-size:12px;
			padding-bottom:10px;
			border-bottom:1px dashed #ddd;
			text-align: left;
		}
	}
}

/*
	货物跟踪结束
*/
/*
	对账单开始
*/
ul.check-ul{
	li{
		float:left;
		line-height:25px;
		margin: 0 5px 8px 0;
		
		label{
			width:80px;
			text-align:right;
			margin-right:10px;
		}
		
		input{
			width:145px;
			line-height:25px;
			padding-left:10px;
			background-color:#eee;
			border: 1px #ccc solid;
			outline:none
		}
	}	
}
/*
	对账单结束
*/
/*
	节点订阅开始
*/
.node-tablebody input[type="text"]{
	width:100%;
	border:1px solid #ddd;
	line-height:25px;
	padding-left:10px;
}
/*
	节点订阅开始
*/